*{

}
.fazer__pedido {
    width: 10px;

  }
  
  .image__banner {
    object-fit: cover;
  }
  
  .card {
    border: 1px solid #edebe9 !important;
    border-radius: 1em !important;
  }

.btn{
  background-color: #2A3342;
  color: white;
  border-radius: 15px;
  width: 250px;
  height: 60px;
  font-size: 20px;
  white-space: nowrap;
  font-family: raleway;
  font-weight: 600;
  border: 1px solid;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
  display: none;
}


.btn:hover{
  background-color: rgb(0, 0, 0);
  transition: all ease 0.2s;
  
}

.modal_open{
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: none;  
}

.modal{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  background-color: rgb(255, 255, 255);
  height: 500px;
  width: 600px;
  justify-content: center;
  margin-left: 400px;
  border-radius: 20px; 
  position: fixed;
}

.title{
  font-weight: 500;
}


.info{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
}

.btn-modal{
  background-color: #2A3342;
  color: white;
  font-family: raleway;
  border: 0;
  margin-top: 70px;
  width: 220px;
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  margin-left: 190px;
  cursor: pointer;
}

.btn_close{
  border: 0;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 25px;
}

.btn-modal:hover{
  background-color: rgb(33, 35, 38);
  transition: all ease 0.2s;
}

